numpy
pytest
mpi4py
pymetis
git+https://github.com/inducer/pymbolic.git
git+https://github.com/inducer/cgen.git
git+https://github.com/inducer/genpy.git
git+https://github.com/inducer/loopy.git
git+https://github.com/inducer/dagrt.git
git+https://github.com/inducer/leap.git
git+https://github.com/inducer/meshpy.git
git+https://github.com/inducer/modepy.git
git+https://github.com/inducer/meshmode.git
git+https://github.com/inducer/grudge.git
